<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740038564434-fmfah2lrbp301phl5fft5dtivud20btg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740038564434-fmfah2lrbp301phl5fft5dtivud20btg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>740038564434-84n8rah79qkes809p5q88si8chbj1vn7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8WCCDuTDAd-_IAx5-4D034jkfh3kvg6M</string>
	<key>GCM_SENDER_ID</key>
	<string>740038564434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doniPizzaAdmin</string>
	<key>PROJECT_ID</key>
	<string>doni-pizza</string>
	<key>STORAGE_BUCKET</key>
	<string>doni-pizza.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740038564434:ios:de860ca39b51a768645d8b</string>
</dict>
</plist>